.classpath
.project
*.xml
*.iml
*.class
*.log
*.DS_Store
/.gradle/
/gradle/wrapper/gradle-wrapper.jar
/temp/
bin/*
/bin/
/data/save_files/
/data/save_files_backups/
/logs/
/out/
/build/
.idea/
/save_files/

!logback.xml

# Config file to define server state
config.yaml
Data/save_files/public/vote_panel.json
data/cfg/vote_panel.json
Data/cfg/wiki/npcs/cached
build/tmp/compileJava/source-classes-mapping.txt
build/tmp/compileTestJava/source-classes-mapping.txt

etc/cfg/collection_box/offlinerewards.json

etc/cfg/collection_box.json

etc/seasonpass/defaultRewards.txt

etc/seasonpass/info.txt

etc/seasonpass/memberRewards.txt
etc/deals/weekly_time.yaml
resources/db_config.properties
entitydesc.dat
etc/refs/referral_codes.yaml
etc/refs/player_claims.yaml
etc/deals/timed_offers.yaml
etc/deals/cosmetic_offers.yaml
etc/deals/cosmetic_costs.json
etc/deals/bonus_items.yaml
etc/cfg/town_crier.txt
etc/cfg/referral_codes.yaml
etc/cfg/data.json
etc/cfg/CentCodes.json
